<h2>Not everything you post on social media needs to stick around forever.</h2>
<h3>With Ghost post you can send create content that will disappear after 24hours.</h3>
<%= link_to "Send a Ghost Post", new_pst_path %>