<h2><%= link_to "Create another Post", new_pst_path %></h2>
<ul style="list-style-type: none;">
<% @psts.each do |p| %>
    <li>
   <%= p.headline %>
    <%= link_to "Self Desructing content here", pst_path(p) %>
    <%= link_to "Delete", "/psts/#{p.id}", method: :delete %>
    </li>

  <% end %>
</ul>