<!DOCTYPE html>
<html>
<head>
  <title>This Message Will Self destruct</title>
  <link rel="stylesheet" type="text/css" href="/application.css.scss" >

</head>
<body>
  <h1>Disappearing Link</h1>
<div class="wrapper">
<%= yield %>
</div>


</body>
</html>
